.title {
  padding: 20px;
  margin-top: 20px;
}

.content {
  margin-right: auto !important;;
  margin-left: auto !important;;
  max-width: 80% !important;;
}

.scroll-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}
