<div class="container">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2 style="padding: 20px; margin-top: 20px;">❤️ Nuestras aventuras ❤️</h2>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="gallery-text">
    <mat-tab *ngFor="let album of albums; let index = index" label="{{album.title}}">
      <app-gallery [album]="album"></app-gallery>
    </mat-tab>
  </mat-tab-group>
</div>

<button mat-fab *ngIf="showScrollButton" (click)="scrollToTop()" class="scroll-icon">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>
